.Button{
    font-size: 16px;
    margin: 60px auto;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border: 0;
    border-radius: 3px;
    background: #fed136;
    color: #484543;
    outline: none;
    cursor: pointer;
}
